.header {

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
       /*  background-color: $darkblue; */
        background-image: linear-gradient($darkblue, transparent);
    }

    nav {
        position: relative;
        background-color: $white;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &__logo {
      img {
        width: 8.8125rem;
        height: 1.375rem;
      }
    }
    &__menu {

      span {
          display: block;
          width: 2.6rem;
          height: .2rem;
          background-color: $darkblue;
          transition: all 500ms ease-in-out;
          transform-origin: .3rem .1rem ;

          &:not(:last-child) {
              margin-bottom: .5rem;
          }
      }
      
      &.open {
          > span:first-child {
          transform: rotate(45deg);
          }

          > span:nth-child(2) {
          opacity: 0;
          }

          > span:last-child {
          transform: rotate(-45deg);
          }
      }
    }

    &__links {
        /* border: .1rem solid red; */
        a {
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;
        
        &:not(:last-child){
            margin-right: 3.2rem;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            height: .3rem;
            background: $limeGreen;
            left: 0;
            right: 0;
            bottom: -1.5rem;
            background: linear-gradient(to right, $limeGreen, $brightCyan);
            opacity: 0;
            transition: opacity 300ms ease-in-out;
        }
        &:hover {
            color:$darkblue;

            &::before {
              opacity: 1;
            }
        }
    }
    /* &__cta {
        font-size: $font-sm;
        color: $white;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    } */
  }


}