html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: roboto,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.125rem;
  color: #9698a6;
}

ul {
  list-style: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  border-radius: 5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border: 0;
  color: white;
  font-weight: 400;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding: 1.0625rem  1.5rem;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__menu span {
  display: block;
  width: 2.6rem;
  height: .2rem;
  background-color: #2e314d;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header__menu span:not(:last-child) {
  margin-bottom: .5rem;
}

.header__menu.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu.open > span:nth-child(2) {
  opacity: 0;
}

.header__menu.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__links {
  /* border: .1rem solid red; */
  /* &__cta {
        font-size: $font-sm;
        color: $white;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    } */
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 3.2rem;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: .3rem;
  background: #31d35c;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2e314d;
}

.header__links a:hover::before {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */